* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 980px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    border-bottom: 2px solid white;
    z-index: 99;
    padding: 15px 0px;
    transition: all .3s ease-in-out;
}
header.sticky {
    background: teal;
    opacity: 0.9;
    padding: 8px 0px;
    height: 13vh;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    
}
.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    min-height: 100vh;
    
}

.logo {
    font-family: Monotype Corsiva, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 3em;
    color: #fff;
}
.menu {
    display: flex;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
}
.menu>li{
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}
.menu>li:not(:last-child)>a {
    position: relative;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    padding: 1em 0 1em;
}
.menu>li:not(:last-child)>a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;
}
.menu>li:not(:last-child)>a:hover::after {
    transform: scaleX(1);
}
.btnLogin {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    transform: .3s;
}
.btnLogin:hover {
    background: white;
    color: #262626;
}
ul {
    width: 100%;
}
.banner {
    min-height: 400px;
    background-image: url(image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer {
    text-align: center;
    background-color: teal;
    color: #fff;
}
.my-sliders {
    position: relative;
    width: 80%;
}
.slider div{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0;
}
img{
    width: 100%;
}

.buttons {
    
    text-align: center;
}
button.prev {
    position: absolute;
    left:0;
    top:40%;
    height: 10%;
    width: 3%;
    
}
button.next {
    position: absolute;
    right:0;
    top:40%;
    height: 10%;
    width: 3%;
    
}
